@charset "UTF-8";
.verde{
	background-color: #00ff00;
}
.azulClarito{
	background-color: #00ffff;
}
.gris{
	background-color: #cccccc;
}
.naranja{
	background-color: #ff9955;
}
.azul{
	background-color: #87aade;
}